<IfModule mod_rewrite.c>
    SetEnv HTTP_MOD_REWRITE On
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^Register/?$ index.php
    RewriteRule ^Login/?$ index.php
    RewriteRule ^Logout/?$ index.php
    RewriteRule ^ForgottenPassword/?$ index.php
    RewriteRule ^Account/?$ index.php
    RewriteRule ^Account/[A-Za-z]+/?$ index.php
    RewriteRule ^Account/Show/([0-9-]+)/?$ index.php?page=$1
    RewriteRule ^Account/QuestionHistory/([0-9-]+)/?$ index.php?page=$1
    RewriteRule ^Account/Play/([^/.]+)/([^/.]+)/([^/.]+)/([0-9]+)/?$ index.php?type=$1&level=$2&exam=$3&page=$4 [L,NC,QSA]
</IfModule>